[Desktop Entry]
Type=Application
Exec=/bin/sh /usr/share/games/CLV-Z-HAKCHI_ZDOOM/hakchi_zdoom.sh
Path=/var/lib/clover/profiles/0/CLV-Z-HAKCHI_ZDOOM
Name=Hakchi zDOOM
Icon=/var/games/CLV-Z-HAKCHI_ZDOOM/CLV-Z-HAKCHI_ZDOOM.png

[X-CLOVER Game]
Code=CLV-Z-HAKCHI_ZDOOM
TestID=777
ID=0
Players=1
Simultaneous=0
ReleaseDate=2018-01-01
SaveCount=0
SortRawTitle=_hakchi HAKCHI_ZDOOM
SortRawPublisher=SWINGFLIP
Copyright=Swingflip 2018
